a.hover{
  color:white !important  
}

a:hover {
  /* color: #ffff; */
  text-decoration: none;
}
a {
color:#000;
}
.fa-small{
  font-size: 18px !important;
}
.btn-float{
  float:left;
  margin-right:10px
}
.img-small{
  width:180px
}